.carouselEmbla {
    overflow: hidden;
    position: relative;
}

.carouselContainer {
    display: flex;
    will-change: transform
}

.carouselSlide {
    flex: 0 0 100%;
    min-width: 0;
    object-fit: cover;
}

.carouselVideo{
    object-fit: cover;
}

.carouselDotContainer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 12px;
    padding: 16px 16px 16px 24px;
    z-index: 1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .2) 100%);
    overflow: hidden;
}

.carouselDotContainer .active{
    width: 23px;
}

.carouselDot{
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 100px;
    box-shadow: 0 4px 15px 0 #00000040;
    cursor: pointer;
}

.slideContainer {
    width: 100%;
    position: relative;
    flex-shrink: 0;
    flex-grow: 1;
}